# I. Extract
We will extract the population, fertility rate and urban population for each Region of the world (Africa, Asia, Europe, South America, North America, Oceania)

##### For the scraping, we will use Selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By

### Chrome webDriver

In [2]:
#Chrome webDriver
driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

C:\Users\Amal\AppData\Local\Temp\ipykernel_14712\1393778512.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

### Scraping Function

In [3]:
import numpy as np
def scrapingByRegion(url):
    driver.get(url)
    #years
    years = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[1]')
    years_list = []
    for y in range(len(years)):
        years_list.append(years[y].text)
    #print(years_list)
    
    #population
    population = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[2]')
    population_list = []
    for p in range(len(population)):
        population_list.append(population[p].text)
    #print(population_list)
    
    #Fertility Rate
    fertilityRate = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[7]')
    fertilityRate_list = []
    for f in range(len(fertilityRate)):
        fertilityRate_list.append(fertilityRate[f].text)
    #print(fertilityRate_list)
    
    #Urban Population
    urbanPopulation = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[10]')
    urbanPopulation_list = []
    for up in range(len(urbanPopulation)):
        urbanPopulation_list.append(urbanPopulation[up].text)
    #print(urbanPopulation_list)
    
    #Create Dataframe
    population_df = pd.DataFrame(list(zip(years_list, population_list, fertilityRate_list, urbanPopulation_list)),
               columns =['Year', 'Population','Fertility Rate','Urban Population'])
    return population_df

### Call the scraping function and create a dataframe for each region

In [4]:
african_df = scrapingByRegion('https://www.worldometers.info/world-population/africa-population/')
african_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  1,340,598,147           4.44      587,737,793
1  2019  1,308,064,195           4.67      567,387,619
2  2018  1,275,920,972           4.67      547,602,182
3  2017  1,244,222,267           4.67      528,371,323
4  2016  1,213,040,521           4.67      509,683,886

In [5]:
asian_df = scrapingByRegion('https://www.worldometers.info/world-population/asia-population/')
asian_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  4,641,054,775           2.15    2,361,464,416
1  2019  4,601,371,198           2.20    2,314,051,549
2  2018  4,560,667,108           2.20    2,266,130,580
3  2017  4,519,040,027           2.20    2,217,723,679
4  2016  4,476,607,853           2.20    2,168,879,760

In [6]:
european_df = scrapingByRegion('https://www.worldometers.info/world-population/europe-population/')
european_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  747,636,026           1.61      556,684,039
1  2019  747,182,751           1.60      554,832,332
2  2018  746,419,440           1.60      552,911,225
3  2017  745,414,735           1.60      550,959,276
4  2016  744,268,827           1.60      549,030,165

In [7]:
southAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/latin-america-and-the-caribbean-population/')
southAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  653,962,331           2.04      539,427,335
1  2019  648,120,957           2.12      532,783,467
2  2018  642,216,682           2.12      526,057,192
3  2017  636,233,123           2.12      519,249,889
4  2016  630,144,555           2.12      512,362,472

In [8]:
northAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/northern-america-population/')
northAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  368,869,647           1.83      304,761,178
1  2019  366,600,964           1.83      301,858,117
2  2018  364,295,996           1.83      298,987,110
3  2017  361,942,268           1.83      296,153,390
4  2016  359,524,647           1.83      293,362,886

In [9]:
oceanian_df = scrapingByRegion('https://www.worldometers.info/world-population/oceania-population/')
oceanian_df.head()

   Year  Population Fertility Rate Urban Population
0  2020  42,677,813           2.36       28,919,183
1  2019  42,128,035           2.42       28,525,534
2  2018  41,570,842           2.42       28,129,029
3  2017  41,006,505           2.42       27,731,037
4  2016  40,435,646           2.42       27,333,514


# II. Transform

 Our analysis is pretty simple (just a visualization), so we don't have too much tasks in this step.
 
     1. Create new column: rural population 
     
     2. For each parameter ( population, fertility rate ...) we will create a dataframe that contain the values of the 6 regions

### 1. Create new column: rural population

In [10]:
def createRPColumn(df):
    df['Rural Population'] = df['Population'].str.replace(',','').astype('Int64', errors='ignore') - df['Urban Population'].str.replace(',','').astype('Int64', errors='ignore')
    return df

In [11]:
african_df = createRPColumn(african_df)
asian_df = createRPColumn(asian_df)
european_df = createRPColumn(european_df)
southAmerican_df = createRPColumn(southAmerican_df)
northAmerican_df = createRPColumn(northAmerican_df)
oceanian_df = createRPColumn(oceanian_df)

In [12]:
african_df.head()

   Year     Population Fertility Rate Urban Population  Rural Population
0  2020  1,340,598,147           4.44      587,737,793         752860354
1  2019  1,308,064,195           4.67      567,387,619         740676576
2  2018  1,275,920,972           4.67      547,602,182         728318790
3  2017  1,244,222,267           4.67      528,371,323         715850944
4  2016  1,213,040,521           4.67      509,683,886         703356635

### 2. Create dataframe for each parameter

### Population of all regions

In [13]:
population= pd.DataFrame(columns =['Year', 'African Population','Asian Population','European Population','South American Population','North American Population','Oceanian Population'])
population["Year"] = african_df["Year"]
population["African Population"] = african_df["Population"]
population["Asian Population"] = asian_df["Population"]
population["European Population"] = european_df["Population"]
population["South American Population"] = southAmerican_df["Population"]
population["North American Population"] = northAmerican_df["Population"]
population["Oceanian Population"] = oceanian_df["Population"]
population = population.iloc[:18,:]

In [14]:
population.head()

,Year,African Population,Asian Population,European Population,South American Population,North American Population,Oceanian Population
0,2020,"1,340,598,147","4,641,054,775","747,636,026","653,962,331","368,869,647","42,677,813"
1,2019,"1,308,064,195","4,601,371,198","747,182,751","648,120,957","366,600,964","42,128,035"
2,2018,"1,275,920,972","4,560,667,108","746,419,440","642,216,682","364,295,996","41,570,842"
3,2017,"1,244,222,267","4,519,040,027","745,414,735","636,233,123","361,942,268","41,006,505"
4,2016,"1,213,040,521","4,476,607,853","744,268,827","630,144,555","359,524,647","40,435,646"

### Fertility Rate of all regions

In [15]:
fertility_rate= pd.DataFrame(columns =['Year', 'African FR','Asian FR','European FR','South American FR','North American FR','Oceanian FR'])
fertility_rate["Year"] = african_df["Year"]
fertility_rate["African FR"] = african_df["Fertility Rate"]
fertility_rate["Asian FR"] = asian_df["Fertility Rate"]
fertility_rate["European FR"] = european_df["Fertility Rate"]
fertility_rate["South American FR"] = southAmerican_df["Fertility Rate"]
fertility_rate["North American FR"] = northAmerican_df["Fertility Rate"]
fertility_rate["Oceanian FR"] = oceanian_df["Fertility Rate"]
fertility_rate = fertility_rate.iloc[:18,:]
fertility_rate.head()

,Year,African FR,Asian FR,European FR,South American FR,North American FR,Oceanian FR
0,2020,4.44,2.15,1.61,2.04,1.83,2.36
1,2019,4.67,2.20,1.60,2.12,1.83,2.42
2,2018,4.67,2.20,1.60,2.12,1.83,2.42
3,2017,4.67,2.20,1.60,2.12,1.83,2.42
4,2016,4.67,2.20,1.60,2.12,1.83,2.42

### Urban Population of all regions

In [16]:
urban_population= pd.DataFrame(columns =['Year', 'African U.Population','Asian U.Population','European U.Population','South American U.Population','North American U.Population','Oceanian U.Population'])
urban_population["Year"] = african_df["Year"]
urban_population["African U.Population"] = african_df["Urban Population"]
urban_population["Asian U.Population"] = asian_df["Urban Population"]
urban_population["European U.Population"] = european_df["Urban Population"]
urban_population["South American U.Population"] = southAmerican_df["Urban Population"]
urban_population["North American U.Population"] = northAmerican_df["Urban Population"]
urban_population["Oceanian U.Population"] = oceanian_df["Urban Population"]
urban_population = urban_population.iloc[:18,:]
urban_population.head()

,Year,African U.Population,Asian U.Population,European U.Population,South American U.Population,North American U.Population,Oceanian U.Population
0,2020,"587,737,793","2,361,464,416","556,684,039","539,427,335","304,761,178","28,919,183"
1,2019,"567,387,619","2,314,051,549","554,832,332","532,783,467","301,858,117","28,525,534"
2,2018,"547,602,182","2,266,130,580","552,911,225","526,057,192","298,987,110","28,129,029"
3,2017,"528,371,323","2,217,723,679","550,959,276","519,249,889","296,153,390","27,731,037"
4,2016,"509,683,886","2,168,879,760","549,030,165","512,362,472","293,362,886","27,333,514"

### Rural Population of all regions

In [17]:
rural_population= pd.DataFrame(columns =['Year', 'African R.Population','Asian R.Population','European R.Population','South American R.Population','North American R.Population','Oceanian R.Population'])
rural_population["Year"] = african_df["Year"]
rural_population["African R.Population"] = african_df["Rural Population"]
rural_population["Asian R.Population"] = asian_df["Rural Population"]
rural_population["European R.Population"] = european_df["Rural Population"]
rural_population["South American R.Population"] = southAmerican_df["Rural Population"]
rural_population["North American R.Population"] = northAmerican_df["Rural Population"]
rural_population["Oceanian R.Population"] = oceanian_df["Rural Population"]
rural_population = rural_population.iloc[:18,:]
rural_population.head()

,Year,African R.Population,Asian R.Population,European R.Population,South American R.Population,North American R.Population,Oceanian R.Population
0,2020,752860354,2279590359,190951987,114534996,64108469,13758630
1,2019,740676576,2287319649,192350419,115337490,64742847,13602501
2,2018,728318790,2294536528,193508215,116159490,65308886,13441813
3,2017,715850944,2301316348,194455459,116983234,65788878,13275468
4,2016,703356635,2307728093,195238662,117782083,66161761,13102132


# III. Load
this is the final step of the ETL. In this step we will load our data to MongoDB

In [18]:
import pandas as pd
import pymongo
import json

# Making a connection with MongoClient
client = pymongo.MongoClient("mongodb://localhost:27017")
#create db
db = client["Population_db"]

### Population Collection

In [19]:
#convert dataframe to dictionary
data = population.to_dict(orient="records")
#save data to a mongodb collection 
db.population.insert_many(data)

### Fertility Rate Collection

In [21]:
data = fertility_rate.to_dict(orient="records")
db.fertility_rate.insert_many(data)

### Urban Population Collection

In [22]:
data = urban_population.to_dict(orient="records")
db.urban_population.insert_many(data)

### Rural Population Collection

In [23]:
data = rural_population.to_dict(orient="records")
db.ruralPopulation.insert_many(data)