# I. Extract
We will extract the population, fertility rate and urban population for each Region of the world (Africa, Asia, Europe, South America, North America, Oceania)

##### For the scraping, we will use Selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By

### Chrome webDriver

In [2]:
#Chrome webDriver
driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

C:\Users\Amal\AppData\Local\Temp\ipykernel_13736\1393778512.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

### Scraping Function

In [3]:
import numpy as np
def scrapingByRegion(url):
    driver.get(url)
    #years
    years = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[1]')
    years_list = []
    for y in range(len(years)):
        years_list.append(years[y].text)
    #print(years_list)
    
    #population
    population = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[2]')
    population_list = []
    for p in range(len(population)):
        population_list.append(population[p].text)
    #print(population_list)
    
    #Fertility Rate
    fertilityRate = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[7]')
    fertilityRate_list = []
    for f in range(len(fertilityRate)):
        fertilityRate_list.append(fertilityRate[f].text)
    #print(fertilityRate_list)
    
    #Urban Population
    urbanPopulation = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[10]')
    urbanPopulation_list = []
    for up in range(len(urbanPopulation)):
        urbanPopulation_list.append(urbanPopulation[up].text)
    #print(urbanPopulation_list)
    
    #Create Dataframe
    population_df = pd.DataFrame(list(zip(years_list, population_list, fertilityRate_list, urbanPopulation_list)),
               columns =['Year', 'Population','Fertility Rate','Urban Population'])
    return population_df

### Call the scraping function and create a dataframe for each region

In [4]:
african_df = scrapingByRegion('https://www.worldometers.info/world-population/africa-population/')
african_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  1,340,598,147           4.44      587,737,793
1  2019  1,308,064,195           4.67      567,387,619
2  2018  1,275,920,972           4.67      547,602,182
3  2017  1,244,222,267           4.67      528,371,323
4  2016  1,213,040,521           4.67      509,683,886

In [5]:
asian_df = scrapingByRegion('https://www.worldometers.info/world-population/asia-population/')
asian_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  4,641,054,775           2.15    2,361,464,416
1  2019  4,601,371,198           2.20    2,314,051,549
2  2018  4,560,667,108           2.20    2,266,130,580
3  2017  4,519,040,027           2.20    2,217,723,679
4  2016  4,476,607,853           2.20    2,168,879,760

In [6]:
european_df = scrapingByRegion('https://www.worldometers.info/world-population/europe-population/')
european_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  747,636,026           1.61      556,684,039
1  2019  747,182,751           1.60      554,832,332
2  2018  746,419,440           1.60      552,911,225
3  2017  745,414,735           1.60      550,959,276
4  2016  744,268,827           1.60      549,030,165

In [7]:
southAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/latin-america-and-the-caribbean-population/')
southAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  653,962,331           2.04      539,427,335
1  2019  648,120,957           2.12      532,783,467
2  2018  642,216,682           2.12      526,057,192
3  2017  636,233,123           2.12      519,249,889
4  2016  630,144,555           2.12      512,362,472

In [8]:
northAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/northern-america-population/')
northAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  368,869,647           1.83      304,761,178
1  2019  366,600,964           1.83      301,858,117
2  2018  364,295,996           1.83      298,987,110
3  2017  361,942,268           1.83      296,153,390
4  2016  359,524,647           1.83      293,362,886

In [9]:
oceanian_df = scrapingByRegion('https://www.worldometers.info/world-population/oceania-population/')
oceanian_df.head()

   Year  Population Fertility Rate Urban Population
0  2020  42,677,813           2.36       28,919,183
1  2019  42,128,035           2.42       28,525,534
2  2018  41,570,842           2.42       28,129,029
3  2017  41,006,505           2.42       27,731,037
4  2016  40,435,646           2.42       27,333,514


# II. Transform

 Our analysis is pretty simple (just a visualization), so we don't have too much tasks in this step.
 
     1. Create new column: rural population 
     
     2. For each parameter ( population, fertility rate ...) we will create a dataframe that contain the values of the 6 regions

### 1. Create new column: rural population

In [10]:
def createRPColumn(df):
    df['Rural Population'] = df['Population'].str.replace(',','').astype('Int64', errors='ignore') - df['Urban Population'].str.replace(',','').astype('Int64', errors='ignore')
    return df

In [11]:
african_df = createRPColumn(african_df)
asian_df = createRPColumn(asian_df)
european_df = createRPColumn(european_df)
southAmerican_df = createRPColumn(southAmerican_df)
northAmerican_df = createRPColumn(northAmerican_df)
oceanian_df = createRPColumn(oceanian_df)

In [12]:
african_df.head()

   Year     Population Fertility Rate Urban Population  Rural Population
0  2020  1,340,598,147           4.44      587,737,793         752860354
1  2019  1,308,064,195           4.67      567,387,619         740676576
2  2018  1,275,920,972           4.67      547,602,182         728318790
3  2017  1,244,222,267           4.67      528,371,323         715850944
4  2016  1,213,040,521           4.67      509,683,886         703356635

### 2. Create dataframe for each parameter

### Population of all regions

In [13]:
population= pd.DataFrame(columns =['Year', 'African Population','Asian Population','European Population','South American Population','North American Population','Oceanian Population'])
population["Year"] = african_df["Year"]
population["African Population"] = african_df["Population"]
population["Asian Population"] = asian_df["Population"]
population["European Population"] = european_df["Population"]
population["South American Population"] = southAmerican_df["Population"]
population["North American Population"] = northAmerican_df["Population"]
population["Oceanian Population"] = oceanian_df["Population"]
#population = population.iloc[:18,:]

In [14]:
population_forcast = population.iloc[18:,:]
population_forcast

,Year,African Population,Asian Population,European Population,South American Population,North American Population,Oceanian Population
18,2020,"1,340,598,147","4,641,054,775","747,636,026","653,962,331","368,869,647","42,677,813"
19,2025,"1,508,935,218","4,822,629,455","745,791,325","681,895,966","379,850,992","45,334,504"
20,2030,"1,688,321,099","4,974,091,861","741,302,530","706,254,072","390,598,863","47,918,975"
21,2035,"1,878,193,685","5,096,362,035","735,101,276","726,395,321","401,051,047","50,420,849"
22,2040,"2,076,749,529","5,188,948,607","727,810,571","742,347,785","410,177,132","52,813,616"
23,2045,"2,281,452,464","5,253,195,095","719,668,897","754,287,016","418,070,163","55,129,639"
24,2050,"2,489,275,458","5,290,263,118","710,486,313","762,432,366","425,200,368","57,376,367"

In [15]:
population = population.iloc[:18,:]
population

,Year,African Population,Asian Population,European Population,South American Population,North American Population,Oceanian Population
0,2020,"1,340,598,147","4,641,054,775","747,636,026","653,962,331","368,869,647","42,677,813"
1,2019,"1,308,064,195","4,601,371,198","747,182,751","648,120,957","366,600,964","42,128,035"
2,2018,"1,275,920,972","4,560,667,108","746,419,440","642,216,682","364,295,996","41,570,842"
3,2017,"1,244,222,267","4,519,040,027","745,414,735","636,233,123","361,942,268","41,006,505"
4,2016,"1,213,040,521","4,476,607,853","744,268,827","630,144,555","359,524,647","40,435,646"
5,2015,"1,182,438,784","4,433,475,358","743,059,035","623,934,168","357,031,048","39,858,746"
6,2010,"1,039,304,033","4,209,593,693","736,412,989","591,352,388","343,287,419","36,873,081"
7,2005,"916,154,288","3,977,986,502","729,287,846","557,501,032","327,287,151","33,690,208"
8,2000,"810,984,226","3,741,263,381","725,558,036","521,836,304","312,426,773","31,425,103"
9,1995,"717,270,078","3,493,086,983","726,994,464","483,018,265","294,453,542","29,389,647"
10,1990,"630,349,639","3,226,098,962","720,858,450","442,840,061","279,785,259","27,298,690"
11,1985,"548,626,148","2,921,173,176","707,584,266","402,023,657","266,363,451","25,151,042"
12,1980,"476,386,273","2,649,578,300","693,566,517","361,253,205","254,007,123","23,212,096"
13,1975,"414,674,688","2,401,171,440","676,895,467","322,777,189","242,251,508","21,710,314"
14,1970,"363,447,518","2,142,480,330","656,919,379","286,675,705","230,991,858","19,922,256"
15,1965,"320,147,257","1,894,974,284","634,783,204","252,455,956","219,454,181","17,768,715"
16,1960,"283,361,209","1,705,041,051","605,406,980","220,469,698","204,649,165","16,021,645"
17,1955,"252,748,903","1,549,041,895","576,678,796","192,727,219","187,430,408","14,392,715"

### Fertility Rate of all regions

In [16]:
fertility_rate= pd.DataFrame(columns =['Year', 'African FR','Asian FR','European FR','South American FR','North American FR','Oceanian FR'])
fertility_rate["Year"] = african_df["Year"]
fertility_rate["African FR"] = african_df["Fertility Rate"]
fertility_rate["Asian FR"] = asian_df["Fertility Rate"]
fertility_rate["European FR"] = european_df["Fertility Rate"]
fertility_rate["South American FR"] = southAmerican_df["Fertility Rate"]
fertility_rate["North American FR"] = northAmerican_df["Fertility Rate"]
fertility_rate["Oceanian FR"] = oceanian_df["Fertility Rate"]

In [17]:
fertility_rate_forcast = fertility_rate.iloc[18:,:]
fertility_rate_forcast

,Year,African FR,Asian FR,European FR,South American FR,North American FR,Oceanian FR
18,2020,4.44,2.15,1.61,2.04,1.75,2.36
19,2025,4.48,2.18,1.61,2.06,1.75,2.40
20,2030,4.53,2.22,1.62,2.07,1.75,2.42
21,2035,4.57,2.24,1.63,2.08,1.75,2.43
22,2040,4.61,2.25,1.64,2.09,1.75,2.45
23,2045,4.65,2.27,1.64,2.09,1.75,2.47
24,2050,4.69,2.30,1.64,2.10,1.75,2.50

In [18]:
fertility_rate = fertility_rate.iloc[:18,:]
fertility_rate

,Year,African FR,Asian FR,European FR,South American FR,North American FR,Oceanian FR
0,2020,4.44,2.15,1.61,2.04,1.83,2.36
1,2019,4.67,2.20,1.60,2.12,1.83,2.42
2,2018,4.67,2.20,1.60,2.12,1.83,2.42
3,2017,4.67,2.20,1.60,2.12,1.83,2.42
4,2016,4.67,2.20,1.60,2.12,1.83,2.42
5,2015,4.73,2.21,1.60,2.14,1.85,2.44
6,2010,4.90,2.33,1.56,2.26,2.01,2.54
7,2005,5.08,2.45,1.43,2.49,1.99,2.46
8,2000,5.35,2.61,1.43,2.77,1.95,2.48
9,1995,5.72,2.90,1.57,3.08,2.00,2.52
10,1990,6.19,3.50,1.81,3.45,1.88,2.53
11,1985,6.50,3.69,1.88,3.94,1.79,2.63
12,1980,6.64,4.10,1.98,4.44,1.77,2.76
13,1975,6.70,5.06,2.17,4.92,2.02,3.25
14,1970,6.71,5.75,2.37,5.46,2.55,3.59
15,1965,6.70,5.80,2.57,5.83,3.28,3.97
16,1960,6.62,5.59,2.66,5.85,3.61,4.10
17,1955,6.57,5.83,2.66,5.83,3.34,3.89

### Urban Population of all regions

In [19]:
urban_population= pd.DataFrame(columns =['Year', 'African U.Population','Asian U.Population','European U.Population','South American U.Population','North American U.Population','Oceanian U.Population'])
urban_population["Year"] = african_df["Year"]
urban_population["African U.Population"] = african_df["Urban Population"]
urban_population["Asian U.Population"] = asian_df["Urban Population"]
urban_population["European U.Population"] = european_df["Urban Population"]
urban_population["South American U.Population"] = southAmerican_df["Urban Population"]
urban_population["North American U.Population"] = northAmerican_df["Urban Population"]
urban_population["Oceanian U.Population"] = oceanian_df["Urban Population"]

In [20]:
urban_population_forcast = urban_population.iloc[18:,:]
urban_population_forcast

,Year,African U.Population,Asian U.Population,European U.Population,South American U.Population,North American U.Population,Oceanian U.Population
18,2020,"587,737,793","2,361,464,416","556,684,039","539,427,335","304,761,178","28,919,183"
19,2025,"698,148,943","2,589,655,469","565,025,749","571,254,319","319,702,154","30,859,669"
20,2030,"824,013,801","2,802,261,893","572,890,314","600,480,333","334,779,988","32,831,217"
21,2035,"966,329,885","2,998,511,347","580,281,841","626,673,014","349,205,496","34,831,894"
22,2040,"1,125,161,515","3,176,508,579","587,458,839","649,621,846","362,603,713","36,894,534"
23,2045,"1,299,953,249","3,335,589,401","593,911,292","669,131,446","374,947,616","39,011,815"
24,2050,"1,488,920,045","3,479,058,559","598,857,027","685,070,437","386,689,862","41,160,232"

In [21]:
urban_population = urban_population.iloc[:18,:]
urban_population

,Year,African U.Population,Asian U.Population,European U.Population,South American U.Population,North American U.Population,Oceanian U.Population
0,2020,"587,737,793","2,361,464,416","556,684,039","539,427,335","304,761,178","28,919,183"
1,2019,"567,387,619","2,314,051,549","554,832,332","532,783,467","301,858,117","28,525,534"
2,2018,"547,602,182","2,266,130,580","552,911,225","526,057,192","298,987,110","28,129,029"
3,2017,"528,371,323","2,217,723,679","550,959,276","519,249,889","296,153,390","27,731,037"
4,2016,"509,683,886","2,168,879,760","549,030,165","512,362,472","293,362,886","27,333,514"
5,2015,"491,531,092","2,119,873,398","547,147,213","505,391,949","290,616,421","26,937,590"
6,2010,"408,587,045","1,877,015,239","537,672,650","469,582,673","277,069,696","24,940,843"
7,2005,"341,033,592","1,631,488,737","525,432,178","433,252,731","261,880,205","22,818,420"
8,2000,"285,997,612","1,399,722,305","516,725,121","397,061,693","247,471,450","21,329,332"
9,1995,"241,824,184","1,215,521,041","513,345,193","356,406,982","228,135,988","20,271,847"
10,1990,"200,111,296","1,039,593,625","504,664,993","315,342,613","211,474,532","19,041,037"
11,1985,"160,721,947","868,117,794","487,685,628","274,582,547","199,262,223","17,568,924"
12,1980,"128,615,954","716,918,680","469,099,633","235,161,265","188,089,048","16,316,449"
13,1975,"103,198,989","598,731,099","444,003,514","198,383,725","179,055,971","15,251,696"
14,1970,"82,637,370","507,088,632","415,016,294","165,056,257","170,582,485","13,834,458"
15,1965,"41,419,217","298,616,710","314,448,167","87,570,364","125,775,297","9,179,087"
16,1960,"53,008,425","360,171,131","347,599,944","109,282,222","143,198,772","10,585,023"
17,1955,"41,419,217","298,616,710","314,448,167","87,570,364","125,775,297","9,179,087"

### Rural Population of all regions

In [22]:
rural_population= pd.DataFrame(columns =['Year', 'African R.Population','Asian R.Population','European R.Population','South American R.Population','North American R.Population','Oceanian R.Population'])
rural_population["Year"] = african_df["Year"]
rural_population["African R.Population"] = african_df["Rural Population"]
rural_population["Asian R.Population"] = asian_df["Rural Population"]
rural_population["European R.Population"] = european_df["Rural Population"]
rural_population["South American R.Population"] = southAmerican_df["Rural Population"]
rural_population["North American R.Population"] = northAmerican_df["Rural Population"]
rural_population["Oceanian R.Population"] = oceanian_df["Rural Population"]
rural_population

,Year,African R.Population,Asian R.Population,European R.Population,South American R.Population,North American R.Population,Oceanian R.Population
0,2020,752860354,2279590359,190951987,114534996,64108469,13758630
1,2019,740676576,2287319649,192350419,115337490,64742847,13602501
2,2018,728318790,2294536528,193508215,116159490,65308886,13441813
3,2017,715850944,2301316348,194455459,116983234,65788878,13275468
4,2016,703356635,2307728093,195238662,117782083,66161761,13102132
5,2015,690907692,2313601960,195911822,118542219,66414627,12921156
6,2010,630716988,2332578454,198740339,121769715,66217723,11932238
7,2005,575120696,2346497765,203855668,124248301,65406946,10871788
8,2000,524986614,2341541076,208832915,124774611,64955323,10095771
9,1995,475445894,2277565942,213649271,126611283,66317554,9117800
10,1990,430238343,2186505337,216193457,127497448,68310727,8257653
11,1985,387904201,2053055382,219898638,127441110,67101228,7582118
12,1980,347770319,1932659620,224466884,126091940,65918075,6895647
13,1975,311475699,1802440341,232891953,124393464,63195537,6458618
14,1970,280810148,1635391698,241903085,121619448,60409373,6087798
15,1965,278728040,1596357574,320335037,164885592,93678884,8589628
16,1960,230352784,1344869920,257807036,111187476,61450393,5436622
17,1955,211329686,1250425185,262230629,105156855,61655111,5213628
18,2020,752860354,2279590359,190951987,114534996,64108469,13758630
19,2025,810786275,2232973986,180765576,110641647,60148838,14474835
20,2030,864307298,2171829968,168412216,105773739,55818875,15087758
21,2035,911863800,2097850688,154819435,99722307,51845551,15588955
22,2040,951588014,2012440028,140351732,92725939,47573419,15919082
23,2045,981499215,1917605694,125757605,85155570,43122547,16117824
24,2050,1000355413,1811204559,111629286,77361929,38510506,16216135

In [23]:
rural_population_forcast = rural_population.iloc[18:,:]
rural_population_forcast.tail()

,Year,African R.Population,Asian R.Population,European R.Population,South American R.Population,North American R.Population,Oceanian R.Population
20,2030,864307298,2171829968,168412216,105773739,55818875,15087758
21,2035,911863800,2097850688,154819435,99722307,51845551,15588955
22,2040,951588014,2012440028,140351732,92725939,47573419,15919082
23,2045,981499215,1917605694,125757605,85155570,43122547,16117824
24,2050,1000355413,1811204559,111629286,77361929,38510506,16216135

In [24]:
rural_population = rural_population.iloc[:18,:]
rural_population

,Year,African R.Population,Asian R.Population,European R.Population,South American R.Population,North American R.Population,Oceanian R.Population
0,2020,752860354,2279590359,190951987,114534996,64108469,13758630
1,2019,740676576,2287319649,192350419,115337490,64742847,13602501
2,2018,728318790,2294536528,193508215,116159490,65308886,13441813
3,2017,715850944,2301316348,194455459,116983234,65788878,13275468
4,2016,703356635,2307728093,195238662,117782083,66161761,13102132
5,2015,690907692,2313601960,195911822,118542219,66414627,12921156
6,2010,630716988,2332578454,198740339,121769715,66217723,11932238
7,2005,575120696,2346497765,203855668,124248301,65406946,10871788
8,2000,524986614,2341541076,208832915,124774611,64955323,10095771
9,1995,475445894,2277565942,213649271,126611283,66317554,9117800
10,1990,430238343,2186505337,216193457,127497448,68310727,8257653
11,1985,387904201,2053055382,219898638,127441110,67101228,7582118
12,1980,347770319,1932659620,224466884,126091940,65918075,6895647
13,1975,311475699,1802440341,232891953,124393464,63195537,6458618
14,1970,280810148,1635391698,241903085,121619448,60409373,6087798
15,1965,278728040,1596357574,320335037,164885592,93678884,8589628
16,1960,230352784,1344869920,257807036,111187476,61450393,5436622
17,1955,211329686,1250425185,262230629,105156855,61655111,5213628


# III. Load
this is the final step of the ETL. In this step we will load our data to MongoDB

In [25]:
import pandas as pd
import pymongo
import json

# Making a connection with MongoClient
client = pymongo.MongoClient("mongodb://localhost:27017")
#create db
db = client["Population_db"]

### Population Collection

In [26]:
#convert dataframe to dictionary
data = population.to_dict(orient="records")
#save data to a mongodb collection 
db.population.insert_many(data)

In [27]:
#convert dataframe to dictionary
data = population_forcast.to_dict(orient="records")
#save data to a mongodb collection 
db.populationForcast.insert_many(data)

### Fertility Rate Collection

In [28]:
data = fertility_rate.to_dict(orient="records")
db.fertility_rate.insert_many(data)

In [29]:
data = fertility_rate_forcast.to_dict(orient="records")
db.fertility_rateForcast.insert_many(data)

### Urban Population Collection

In [30]:
data = urban_population.to_dict(orient="records")
db.urban_population.insert_many(data)

In [31]:
data = urban_population_forcast.to_dict(orient="records")
db.urban_populationForcast.insert_many(data)

### Rural Population Collection

In [32]:
data = rural_population.to_dict(orient="records")
db.rural_population.insert_many(data)

In [33]:
data = rural_population_forcast.to_dict(orient="records")
db.rural_populationForcast.insert_many(data)