# I. Extract
We will extract the population, fertility rate and urban population for each Region of the world (Africa, Asia, Europe, South America, North America, Oceania)

##### For the scraping, we will use Selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By

### Chrome webDriver

In [2]:
#Chrome webDriver
driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

C:\Users\Amal\AppData\Local\Temp\ipykernel_4764\541127239.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

### Scraping Function

In [3]:
def scrapingByRegion(url):
    driver.get(url)
    #years
    years = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[1]')
    years_list = []
    for y in range(len(years)):
        years_list.append(years[y].text)
    #print(years_list)
    
    #population
    population = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[2]')
    population_list = []
    for p in range(len(population)):
        population_list.append(population[p].text)
    #print(population_list)
    
    #Fertility Rate
    fertilityRate = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[7]')
    fertilityRate_list = []
    for f in range(len(fertilityRate)):
        fertilityRate_list.append(fertilityRate[f].text)
    #print(fertilityRate_list)
    
    #Urban Population
    urbanPopulation = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[10]')
    urbanPopulation_list = []
    for up in range(len(urbanPopulation)):
        urbanPopulation_list.append(urbanPopulation[up].text)
    #print(urbanPopulation_list)
    
    #Create Dataframe
    population_df = pd.DataFrame(list(zip(years_list, population_list, fertilityRate_list, urbanPopulation_list)),
               columns =['Year', 'Population','Fertility Rate','Urban Population'])
    return population_df

### Call the scraping function and create a dataframe for each region

In [4]:
african_df = scrapingByRegion('https://www.worldometers.info/world-population/africa-population/')
african_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  1,340,598,147           4.44      587,737,793
1  2019  1,308,064,195           4.67      567,387,619
2  2018  1,275,920,972           4.67      547,602,182
3  2017  1,244,222,267           4.67      528,371,323
4  2016  1,213,040,521           4.67      509,683,886

In [5]:
asian_df = scrapingByRegion('https://www.worldometers.info/world-population/asia-population/')
asian_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  4,641,054,775           2.15    2,361,464,416
1  2019  4,601,371,198           2.20    2,314,051,549
2  2018  4,560,667,108           2.20    2,266,130,580
3  2017  4,519,040,027           2.20    2,217,723,679
4  2016  4,476,607,853           2.20    2,168,879,760

In [6]:
european_df = scrapingByRegion('https://www.worldometers.info/world-population/europe-population/')
european_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  747,636,026           1.61      556,684,039
1  2019  747,182,751           1.60      554,832,332
2  2018  746,419,440           1.60      552,911,225
3  2017  745,414,735           1.60      550,959,276
4  2016  744,268,827           1.60      549,030,165

In [7]:
southAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/latin-america-and-the-caribbean-population/')
southAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  653,962,331           2.04      539,427,335
1  2019  648,120,957           2.12      532,783,467
2  2018  642,216,682           2.12      526,057,192
3  2017  636,233,123           2.12      519,249,889
4  2016  630,144,555           2.12      512,362,472

In [8]:
northAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/northern-america-population/')
northAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  368,869,647           1.83      304,761,178
1  2019  366,600,964           1.83      301,858,117
2  2018  364,295,996           1.83      298,987,110
3  2017  361,942,268           1.83      296,153,390
4  2016  359,524,647           1.83      293,362,886

In [9]:
oceanian_df = scrapingByRegion('https://www.worldometers.info/world-population/oceania-population/')
oceanian_df.head()

   Year  Population Fertility Rate Urban Population
0  2020  42,677,813           2.36       28,919,183
1  2019  42,128,035           2.42       28,525,534
2  2018  41,570,842           2.42       28,129,029
3  2017  41,006,505           2.42       27,731,037
4  2016  40,435,646           2.42       27,333,514


# II. Load