# I. Extract
We will extract the population, fertility rate and urban population for each Region of the world (Africa, Asia, Europe, South America, North America, Oceania)

##### For the scraping, we will use Selenium

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By

### Chrome webDriver

In [3]:
#Chrome webDriver
driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

C:\Users\Amal\AppData\Local\Temp\ipykernel_14740\1393778512.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

### Scraping Function

In [4]:
import numpy as np
def scrapingByRegion(url):
    driver.get(url)
    #years
    years = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[1]')
    years_list = []
    for y in range(len(years)):
        years_list.append(years[y].text)
    #print(years_list)
    
    #population
    population = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[2]')
    population_list = []
    for p in range(len(population)):
        population_list.append(population[p].text)
    #print(population_list)
    
    #Fertility Rate
    fertilityRate = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[7]')
    fertilityRate_list = []
    for f in range(len(fertilityRate)):
        fertilityRate_list.append(fertilityRate[f].text)
    #print(fertilityRate_list)
    
    #Urban Population
    urbanPopulation = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[10]')
    urbanPopulation_list = []
    for up in range(len(urbanPopulation)):
        urbanPopulation_list.append(urbanPopulation[up].text)
    #print(urbanPopulation_list)
    
    #Create Dataframe
    population_df = pd.DataFrame(list(zip(years_list, population_list, fertilityRate_list, urbanPopulation_list)),
               columns =['Year', 'Population','Fertility Rate','Urban Population'])
    return population_df

### Call the scraping function and create a dataframe for each region

In [5]:
african_df = scrapingByRegion('https://www.worldometers.info/world-population/africa-population/')
african_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  1,340,598,147           4.44      587,737,793
1  2019  1,308,064,195           4.67      567,387,619
2  2018  1,275,920,972           4.67      547,602,182
3  2017  1,244,222,267           4.67      528,371,323
4  2016  1,213,040,521           4.67      509,683,886

In [6]:
asian_df = scrapingByRegion('https://www.worldometers.info/world-population/asia-population/')
asian_df.head()

   Year     Population Fertility Rate Urban Population
0  2020  4,641,054,775           2.15    2,361,464,416
1  2019  4,601,371,198           2.20    2,314,051,549
2  2018  4,560,667,108           2.20    2,266,130,580
3  2017  4,519,040,027           2.20    2,217,723,679
4  2016  4,476,607,853           2.20    2,168,879,760

In [7]:
european_df = scrapingByRegion('https://www.worldometers.info/world-population/europe-population/')
european_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  747,636,026           1.61      556,684,039
1  2019  747,182,751           1.60      554,832,332
2  2018  746,419,440           1.60      552,911,225
3  2017  745,414,735           1.60      550,959,276
4  2016  744,268,827           1.60      549,030,165

In [8]:
southAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/latin-america-and-the-caribbean-population/')
southAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  653,962,331           2.04      539,427,335
1  2019  648,120,957           2.12      532,783,467
2  2018  642,216,682           2.12      526,057,192
3  2017  636,233,123           2.12      519,249,889
4  2016  630,144,555           2.12      512,362,472

In [9]:
northAmerican_df = scrapingByRegion('https://www.worldometers.info/world-population/northern-america-population/')
northAmerican_df.head()

   Year   Population Fertility Rate Urban Population
0  2020  368,869,647           1.83      304,761,178
1  2019  366,600,964           1.83      301,858,117
2  2018  364,295,996           1.83      298,987,110
3  2017  361,942,268           1.83      296,153,390
4  2016  359,524,647           1.83      293,362,886

In [10]:
oceanian_df = scrapingByRegion('https://www.worldometers.info/world-population/oceania-population/')
oceanian_df.head()

   Year  Population Fertility Rate Urban Population
0  2020  42,677,813           2.36       28,919,183
1  2019  42,128,035           2.42       28,525,534
2  2018  41,570,842           2.42       28,129,029
3  2017  41,006,505           2.42       27,731,037
4  2016  40,435,646           2.42       27,333,514


# II. Transform

 Our analysis is pretty simple (just a visualization), so we don't have too much tasks in this step.
 
     1. Create new column: rural population 
     
     2. Split each region's df into two dfs 
         - the first df is the population of each region (from 1955 to 2020)
         - the second df is the population forecast (from 2020 to 2050)

### 1. Create new column: rural population

In [11]:
def createRPColumn(df):
    df['Rural Population'] = df['Population'].str.replace(',','').astype('Int64', errors='ignore') - df['Urban Population'].str.replace(',','').astype('Int64', errors='ignore')
    return df

In [12]:
african_df = createRPColumn(african_df)
asian_df = createRPColumn(asian_df)
european_df = createRPColumn(european_df)
southAmerican_df = createRPColumn(southAmerican_df)
northAmerican_df = createRPColumn(northAmerican_df)
oceanian_df = createRPColumn(oceanian_df)

In [13]:
african_df.head()

   Year     Population Fertility Rate Urban Population  Rural Population
0  2020  1,340,598,147           4.44      587,737,793         752860354
1  2019  1,308,064,195           4.67      567,387,619         740676576
2  2018  1,275,920,972           4.67      547,602,182         728318790
3  2017  1,244,222,267           4.67      528,371,323         715850944
4  2016  1,213,040,521           4.67      509,683,886         703356635

### 2. Split each region's df into two dfs

In [13]:
def population(df):
    population_df = df.iloc[:18,:]
    return population_df

def populationForcast(df):   
    population_forecast_df = df.iloc[18:,:]
    return population_forecast_df

#### Call the function to create 2 dfs

In [14]:
african_population_df = population(african_df)
african_population_df

    Year     Population Fertility Rate Urban Population  Rural Population
0   2020  1,340,598,147           4.44      587,737,793         752860354
1   2019  1,308,064,195           4.67      567,387,619         740676576
2   2018  1,275,920,972           4.67      547,602,182         728318790
3   2017  1,244,222,267           4.67      528,371,323         715850944
4   2016  1,213,040,521           4.67      509,683,886         703356635
5   2015  1,182,438,784           4.73      491,531,092         690907692
6   2010  1,039,304,033           4.90      408,587,045         630716988
7   2005    916,154,288           5.08      341,033,592         575120696
8   2000    810,984,226           5.35      285,997,612         524986614
9   1995    717,270,078           5.72      241,824,184         475445894
10  1990    630,349,639           6.19      200,111,296         430238343
11  1985    548,626,148           6.50      160,721,947         387904201
12  1980    476,386,273           6.64      128,615,954         347770319
13  1975    414,674,688           6.70      103,198,989         311475699
14  1970    363,447,518           6.71       82,637,370         280810148
15  1965    320,147,257           6.70       41,419,217         278728040
16  1960    283,361,209           6.62       53,008,425         230352784
17  1955    252,748,903           6.57       41,419,217         211329686

In [15]:
african_population_forcast_df = populationForcast(african_df)
african_population_forcast_df

    Year     Population Fertility Rate Urban Population  Rural Population
18  2020  1,340,598,147           4.44      587,737,793         752860354
19  2025  1,508,935,218           4.48      698,148,943         810786275
20  2030  1,688,321,099           4.53      824,013,801         864307298
21  2035  1,878,193,685           4.57      966,329,885         911863800
22  2040  2,076,749,529           4.61    1,125,161,515         951588014
23  2045  2,281,452,464           4.65    1,299,953,249         981499215
24  2050  2,489,275,458           4.69    1,488,920,045        1000355413

In [18]:
asian_population_df = population(asian_df)
asian_population_forcast_df = populationForcast(asian_df)

In [19]:
european_population_df = population(european_df)
european_population_forcast_df = populationForcast(european_df)

In [20]:
southAmerican_population_df = population(southAmerican_df)
southAmerican_population_forcast_df = populationForcast(southAmerican_df)

In [21]:
northAmerican_population_df = population(northAmerican_df)
northAmerican_population_forcast_df = populationForcast(northAmerican_df)

In [22]:
oceanian_population_df = population(oceanian_df)
oceanian_population_forcast_df = populationForcast(oceanian_df)


# III. Load
this is the final step of the ETL. In this step we will load our data to MongoDB

In [39]:
import pandas as pd
import pymongo
import json

# Making a connection with MongoClient
client = pymongo.MongoClient("mongodb://localhost:27017")

#create db
db = client["Population_db"]

In [41]:
#convert dataframe to dictionary
data = african_population_df.to_dict(orient="records")
#save data to a mongodb collection 
db.africanPopulation.insert_many(data)

In [42]:
data = african_population_forcast_df.to_dict(orient="records")
db.africanPopulationForcast.insert_many(data)

In [43]:
#convert dataframe to dictionary
data = asian_population_df.to_dict(orient="records")
#save data to a mongodb collection 
db.asianPopulation.insert_many(data)

data = asian_population_forcast_df.to_dict(orient="records")
db.asianPopulationForcast.insert_many(data)

In [44]:
#convert dataframe to dictionary
data = european_population_df.to_dict(orient="records")
#save data to a mongodb collection 
db.europeanPopulation.insert_many(data)

data = european_population_forcast_df.to_dict(orient="records")
db.europeanPopulationForcast.insert_many(data)

In [45]:
#convert dataframe to dictionary
data = southAmerican_population_df.to_dict(orient="records")
#save data to a mongodb collection 
db.southAmericanPopulation.insert_many(data)

data = southAmerican_population_forcast_df.to_dict(orient="records")
db.southAmericanPopulationForcast.insert_many(data)

In [46]:
#convert dataframe to dictionary
data = northAmerican_population_df.to_dict(orient="records")
#save data to a mongodb collection 
db.northAmericanPopulation.insert_many(data)

data = northAmerican_population_forcast_df.to_dict(orient="records")
db.northAmericanPopulationForcast.insert_many(data)

In [47]:
#convert dataframe to dictionary
data = oceanian_population_df.to_dict(orient="records")
#save data to a mongodb collection 
db.oceanianPopulation.insert_many(data)

data = oceanian_population_forcast_df.to_dict(orient="records")
db.oceanianPopulationForcast.insert_many(data)