In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb://localhost:27017")
db = client.Population_db
collection = db.africanPopulation
data = pd.DataFrame(list(collection.find()))

data1= pd.DataFrame(columns =['Year', 'Population','Fertility Rate','Urban Population'])
data1["Year"] = data["Year"]
data[['Year', 'Population','Fertility Rate','Urban Population']].head()

   Year  Population Fertility Rate Urban Population
0  2020  1340598147           4.44        587737793
1  2019  1308064195           4.67        567387619
2  2018  1275920972           4.67        547602182
3  2017  1244222267           4.67        528371323
4  2016  1213040521           4.67      509,683,886

In [4]:
data[::-1]

,_id,Year,Population,Fertility Rate,Urban Population,Rural Population
17,628fad367826172c40256b89,1955,252748903,6.57,"41,419,217",211329686
16,628fad367826172c40256b88,1960,283361209,6.62,"53,008,425",230352784
15,628fad367826172c40256b87,1965,320147257,6.70,"41,419,217",278728040
14,628fad367826172c40256b86,1970,363447518,6.71,"82,637,370",280810148
13,628fad367826172c40256b85,1975,414674688,6.70,"103,198,989",311475699
12,628fad367826172c40256b84,1980,476386273,6.64,"128,615,954",347770319
11,628fad367826172c40256b83,1985,548626148,6.50,"160,721,947",387904201
10,628fad367826172c40256b82,1990,630349639,6.19,"200,111,296",430238343
9,628fad367826172c40256b81,1995,717270078,5.72,"241,824,184",475445894
8,628fad367826172c40256b80,2000,810984226,5.35,"285,997,612",524986614
7,628fad367826172c40256b7f,2005,916154288,5.08,"341,033,592",575120696
6,628fad367826172c40256b7e,2010,1039304033,4.90,"408,587,045",630716988
5,628fad367826172c40256b7d,2015,1182438784,4.73,"491,531,092",690907692
4,628fad367826172c40256b7c,2016,1213040521,4.67,"509,683,886",703356635
3,628fad367826172c40256b7b,2017,1244222267,4.67,528371323,715850944
2,628fad367826172c40256b7a,2018,1275920972,4.67,547602182,728318790
1,628fad367826172c40256b79,2019,1308064195,4.67,567387619,740676576
0,628fad367826172c40256b78,2020,1340598147,4.44,587737793,752860354