In [16]:
#pip install webdriver_manager

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.by import By

# Chrome webDriver

In [2]:
#Chrome webDriver
driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

C:\Users\Amal\AppData\Local\Temp\ipykernel_15812\541127239.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/Amal/Desktop/chromedriver')

# Scrapping Population by Continents

## 1. Africa

In [3]:
def scrappingByContinent(url):
    driver.get(url)
    #years
    years = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[1]')
    years_list = []
    for y in range(len(years)):
        years_list.append(years[y].text)
    #print(years_list)
    
    #population
    population = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[2]')
    population_list = []
    for p in range(len(population)):
        population_list.append(population[p].text)
    #print(population_list)
    
    #Fertility Rate
    fertilityRate = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[7]')
    fertilityRate_list = []
    for f in range(len(fertilityRate)):
        fertilityRate_list.append(fertilityRate[f].text)
    #print(fertilityRate_list)
    
    #Urban Population
    urbanPopulation = driver.find_elements(by=By.XPATH, value='//table[@class="table table-striped table-bordered table-hover table-condensed table-list"]/tbody/tr/td[10]')
    urbanPopulation_list = []
    for up in range(len(urbanPopulation)):
        urbanPopulation_list.append(urbanPopulation[up].text)
    #print(urbanPopulation_list)
    
    #Create Dataframe
    population_df = pd.DataFrame(list(zip(years_list, population_list, medianAge_list, urbanPopulation_list)),
               columns =['Year', 'Population','Fertility Rate','Urban Population'])
    return population_df

In [ ]:
african_df = scrappingByContinent('https://www.worldometers.info/world-population/africa-population/')
african_df.head()

In [10]:
asian_df = scrappingByContinent('https://www.worldometers.info/world-population/asia-population/')
asian_df.head()

   Year     Population Median Age Urban Population
0  2020  4,641,054,775       32.0    2,361,464,416
1  2019  4,601,371,198       30.6    2,314,051,549
2  2018  4,560,667,108       30.6    2,266,130,580
3  2017  4,519,040,027       30.6    2,217,723,679
4  2016  4,476,607,853       30.6    2,168,879,760

In [11]:
european_df = scrappingByContinent('https://www.worldometers.info/world-population/europe-population/')
european_df.head()

   Year   Population Median Age Urban Population
0  2020  747,636,026       42.5      556,684,039
1  2019  747,182,751       41.7      554,832,332
2  2018  746,419,440       41.7      552,911,225
3  2017  745,414,735       41.7      550,959,276
4  2016  744,268,827       41.7      549,030,165

In [12]:
oceanian_df = scrappingByContinent('https://www.worldometers.info/world-population/oceania-population/')
oceanian_df.head()

   Year  Population Median Age Urban Population
0  2020  42,677,813       33.4       28,919,183
1  2019  42,128,035       32.7       28,525,534
2  2018  41,570,842       32.7       28,129,029
3  2017  41,006,505       32.7       27,731,037
4  2016  40,435,646       32.7       27,333,514

In [13]:
southAmerican_df = scrappingByContinent('https://www.worldometers.info/world-population/latin-america-and-the-caribbean-population/')
southAmerican_df.head()

   Year   Population Median Age Urban Population
0  2020  653,962,331       31.0      539,427,335
1  2019  648,120,957       29.5      532,783,467
2  2018  642,216,682       29.5      526,057,192
3  2017  636,233,123       29.5      519,249,889
4  2016  630,144,555       29.5      512,362,472

In [15]:
northAmerican_df = scrappingByContinent('https://www.worldometers.info/world-population/northern-america-population/')
northAmerican_df.head()

   Year   Population Median Age Urban Population
0  2020  368,869,647       38.0      304,761,178
1  2019  366,600,964       38.0      301,858,117
2  2018  364,295,996       38.0      298,987,110
3  2017  361,942,268       38.0      296,153,390
4  2016  359,524,647       38.0      293,362,886